nav {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: var(--Nav-Background);
    z-index: 9999999999;
  }
  
  .nav__content {
    max-width: var(--max-width);
    margin: auto;
    padding: 8px 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  nav .logo a {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--Heading);
    transition: 0.3s;
    margin-left: 10px;
  }
  nav img {
    width: 80px;
  }
  nav .logo a:hover {
    color: var(--Red);
    transition: 0.3s;
  }
  
  .LogoWithText{
    display: flex;
    align-items: center;
  }
  
  nav .checkbox {
    display: none;
  }
  
  nav input {
    display: none;
  }
  
  nav .checkbox i {
    font-size: 2rem;
    color: var(--Heading);
    cursor: pointer;
    transition: 0.3s;
  }
  
  nav .checkbox i:hover {
     color: var(--Red);
     transition: 0.3s;
  }
  
  ul {
    display: flex;
    align-items: center;
    gap: 1rem;
    list-style: none;
    transition: left 0.3s;
  }
  
  nav .logo a:hover {
    color: var(--Secondary);
    transition: 0.3s;
  }
  
  ul li a {
    padding: 0.5rem 1rem;
    text-decoration: none;
    font-weight: 600;
    color: var(--Heading);
    transition: 0.3s;
  }
  
  ul li a:hover {
    color: var(--Secondary);
    transition: 0.3s;
  }

  ul li a.active {
    color: var(--Secondary);
  }

  .section {
    background-color: var(--Body-Background);
  }
  
  /* Scroll Button */

.scroll-to-top {
  position: fixed;
  bottom: 100px;
  right: 35px;
  background-color: var(--Secondary);
  color: var(--Heading);
  width: 40px;
  height: 40px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  z-index: 98;
  display: none;
}

.scroll-to-top i {
  color: var(--ButtonTxt);
  font-size: 20px;
}

.scroll-to-top:hover,.scroll-to-top i:hover {
  background-color: var(--Hover);
  color: var(--Heading);
  transition: 0.3s;
  cursor: pointer;
}

#mode-toggle-btn {
  position: fixed;
  bottom: 25px;
  right: 100px;
  background-color: var(--Secondary);
  width: 45px;
  height: 45px;
  text-align: center;
  line-height: 40px;
  border-radius: 50%;
  box-shadow: 0 2px 4px var(--shadow-color);
  border-color: transparent;
  z-index: 98;
}

#mode-toggle-btn i {
  color: var(--ButtonTxt);
  font-size: 20px;
  margin-top: 11px;
}

#mode-toggle-btn:hover, #mode-toggle-btn i:hover {
  background-color: var(--Hover);
  color: var(--Heading);
  transition: 0.3s;
  cursor: pointer;
}

/* Footer */

footer {
  background-color: var(--Items);
  color: var(--Heading);
  padding: 2rem 0;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer__content {
  max-width: var(--max-width);
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 2rem;
  margin-right: 2rem;
}

.social-media {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
}

.social-media a {
  color: var(--Heading);
  font-size: 1.5rem;
  margin-right: 0.5rem;
}


.social-media a:hover {
  color: var(--Secondary);
  transition: 0.3s;
}

p {
  font-size: 0.9rem;
  margin-left: 2rem;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin: 0;
  padding-bottom: 7rem;
}

  @media (width < 1024px) {
    nav .checkbox {
      display: block;
    }
  
    nav ul {
      background-color: var(--Body-Background);
    }
  
    ul {
      position: absolute;
      width: 100%;
      height: calc(100vh - 85px);
      left: -100%;
      top: 85px;
      align-items: center;
      transition: left 0.3s;
      background-color: var(--Accent-Text-Text);
      flex-direction: column;
      justify-content: center;
      gap: 3rem;
      overflow-y: auto;
      scrollbar-width: thin;
    }
  
    ul li:first-child {
      margin-top: 100px;
    }
  
    nav #check:checked ~ ul {
      left: 0;
    }
  
    ul li a {
      font-size: 1.25rem;
    } 
  }
  @media (max-width: 750px) {
    .footer__content {
      max-width: var(--max-width);
      margin: auto;
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-left: 1rem;
      margin-right: 1rem;
    }
  }