.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width: 200px;
    height: 100%;
    background-color: #4d69ff;
    padding-top: 20px;
    align-items: center;
}
.logo-container {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-bottom: 20px;
}

.logo-container img {
    width: 100px;
}

.logo-text {
    color: #fff;
    font-weight: bold;
    font-size: 18px;
}

.footer {
    padding: 10px;
    text-align: center;
    color: #fff;
    background-color: #1900fa;
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-bottom: 10px;
}

.navbar ul {
    list-style-type: none;
    padding: 0;
}

.navbar ul li {
    padding: 10px 0;
}

.navbar ul li a {
    display: block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
    transition: background-color 0.3s ease;
}

.navbar ul li a.active, .navbar ul li a:hover {
    background-color: #324b80;
    transition: 0.3s;
}
/* للدارك مود */
.mode-toggle {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.mode-toggle button {
  background-color: transparent;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
  margin-right: 10px;
  margin-top: 50px;
  margin-left: 35px;
  transition: color 0.3s ease;
}

.mode-toggle button:last-child {
  margin-right: 0;
}

.mode-toggle button:hover {
  color: #ffcc00;
}
/*  */

@media only screen and (max-width: 750px) {
  .header-text h1 {
    font-size: 20px;
  }
  .navbar {
    width: 120px;
  }

  .navbar ul li a {
    padding: 8px;
  }

  .logo-container img {
    width: 80px;
  }

  .logo-text {
    font-size: 16px;
  }

  .footer {
    width: 83%;
  }

  .mode-toggle button {
    margin-left: 10px;
  }
}