:root{
    /* Light Mode */
    /* Shared */
    --Heading: #000;
    --Sub-Text: #666666;
    /* Navbar */
    --Secondary: #3572cc;
    --Nav-Background: #f5f5f5;
    --Footer-Background: #fff;
    --Icon-Hover: #e0e0e0;
    --Switch-Icon-Hover:#000;
    /* Timer */
    --Buttons-Colors: #A3A3A3;
    --Timer-Hover: #363636;
    --Timer-Border: #47414100;
    --Time-Color: #000;
    /* Emp-Dashboard */
    --Icons: #555555;
    --Body-Background: #f0f0f0;
    --Items: #e5e5e5;
    --Hover: #b2d1ff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --Red: #ff7f7f;
    --Orange: #ffae7f;
    --Green: #7fff8f;
    }
    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--Body-Background);
    }
    
    .dashboard {
        margin-left: 200px;
        padding: 20px;
    }
    
    .header {
        background-color: var(--Items);
        color: var(--Heading);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 5px var(--shadow-color);
        display: flex;
        align-items: center;
    }
    #current-date {
        margin: 0;
        font-size: 18px;
    }
    
    .date-section {
        margin-left: auto;
    }
    
    .header:hover {
        background-color: var(--Hover);
        box-shadow: 0 4px 10px var(--shadow-color);
        color: var(--Heading);
        transition: 0.3s;
    }
    
    .header h1 {
        margin: 0;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 20px;
        padding: 20px;
    }
    
    .grid-item {
        padding: 20px;
        position: relative;
        border-radius: 10px;
        background-color: var(--Items);
        box-shadow: 0 2px 5px var(--shadow-color);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .grid-item:hover {
        background-color: var(--Hover);
        transform: translateY(-5px);
        transition: 0.3s;
        box-shadow: 0 4px 10px var(--shadow-color);
    }
    
    .grid-item h2 {
        margin-top: 0;
        color: var(--Heading);
    }
    
    .grid-item p {
        margin: 0;
        color: var(--Sub-Text)
    }
    
    .red-text {
        color:var(--Red-Text);
    }
    
     .grid-item.alerts {
        background-color: var(--Orange);
    }
    
    .grid-item.alerts:hover {
        background-color: var(--Hover);
        transition: 0.3s;
    }
    
    .grid-item.holidays {
        background-color: var(--Green);
    }
    
    .grid-item.holidays:hover {
        background-color: var(--Hover);
        transition: 0.3s;
    }
    
    .grid-item.boss-comments {
        background-color: var(--Red);
    }
    .grid-item.boss-comments p {
        margin: 50;
    }
    .grid-item.tasks p {
        margin: 50;
    }
    .contact-icon {
        position: absolute;
        bottom: 20px;
        right: 20px;
        color: #555;
        text-decoration: none;
        font-size: 24px;
    }
    .grid-item.boss-comments:hover {
        background-color: var(--Hover);
        transition: 0.3s;
    } 
    
    .grid-item.sign-in-time,
    .grid-item.sign-out-time {
        grid-column: span 3;
    }
    .contact-icon:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }
    .Icons{
        color: var(--Icons);
    }
    @media only screen and (max-width: 750px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    
        .grid-item.sign-in-time,
        .grid-item.sign-out-time {
            grid-column: span 1;
        }
    
        .grid-item.boss-comments {
            order: 8;
        }

        .grid-item.tasks {
            order: 7;
        }
    
        .header-text h1 {
            font-size: 20px;
        }
    
        .dashboard {
            margin-left: 0px;
        }
        .date-section {
            margin-right: 60px;
        }
    }