:root{
    --background-color: #f9fafc;
    --secondary-color: #4d69ff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --Red-Text:#ff3333;
    --Red-Background: #ff6666;
    --Green-Text: green;
    --border-color: #ccc;
    --black-background: #000000;
    --contact-icon: #555;
    --contact-icon-hover: #007bff;
    --listBox-Shadow: rgba(77, 105, 255, 0.5);/* ++ Submit-Button-hover */
    --Submit-Button-Background: rgb(55, 55, 255);
    --Allert-Color: #ffd633;
    --Allert-Hover:#ffb700;
    --Holidays-Colors: #66ff99;
    --Holidays-Hover: #32cc66;
    --Footer-Bacground: #1900fa;
    --Nav-Active-Hover: #324b80;
    --DarkMode-Icon-Hover: #ffcc00;
  }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.dashboard {
    margin-left: 200px;
    padding: 20px;
}

.header {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--shadow-color);
    display: flex;
    align-items: center;
}

.header:hover {
    box-shadow: 0 4px 10px var(--shadow-color);
    transition: 0.3s;
}

.header h1 {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    padding: 20px;
    position: relative;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 140px;
}

.grid-item:hover {
    transform: translateY(-5px);
    transition: 0.3s;
    box-shadow: 0 4px 10px var(--shadow-color);
}

.grid-item h2 {
    margin-top: 0;
}

.grid-item p {
    margin: 0;
}
.grid-item.boss-comments {
    background-color: var(--Red-Background);
}

.grid-item.boss-comments:hover {
    background-color: var(--Red-Text);
    transition: 0.3s;
}
.grid-item.alerts {
    background-color: var(--Allert-Color);
}

.grid-item.alerts:hover {
    background-color: var(--Allert-Hover);
    transition: 0.3s;
}

.contact-icon {
    position: absolute;
    bottom: 20px;
    right: 20px;
    color: var(--contact-icon);
    text-decoration: none;
    font-size: 24px;
}

.contact-icon:hover {
    color: var(--contact-icon-hover);
    transition: 0.3s;
}

ul.custom-list {
    list-style-type: none;
    padding: 0;
    text-align: center;
    display: inline-block;
}

ul.custom-list li {
    display: inline-block;
    padding: 20px;
    margin: 0px 115px;
    margin-left: 0px;
    width: 100px;
}

ul.custom-list li a {
    display: inline-block;
    color: var(--background-color);
    background-color: var(--secondary-color);
    text-decoration: none;
    padding: 20px 70px;
    width: 70px;
    border: 1px solid var(--border-color);
    border-radius: 10px;
    text-align: center;
    white-space: nowrap;
}

ul.custom-list li a:hover {
    transform: scale(1.03);
    transition: 0.1s;
}
.guide {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); 
    display: none; 
    z-index: 1000;
    align-items: center;
    justify-content: center;
}

.guide-step {
    display: none;
    color: white;
    padding: 20px;
    margin-top: 550px;
    text-align: center;
    background: rgba(0, 0, 0, 0);
}


.guide-step.active {
    display: block;
}
.guide-step.alt {
    color: white;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    background: rgba(0, 0, 0, 0);
}
.next-btn,
.skip-btn,
.back-btn {
    padding: 10px 40px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
    margin-right: 50px;
    margin-left: 50px;
}

.next-btn:hover,
.skip-btn:hover,
.back-btn:hover {
    background-color: #0056b3;
}

.highlight {
    background-color: rgba(13, 0, 255, 0); 
    border: 2px solid rgb(0, 4, 255);
    box-shadow: 0 0 10px 5px rgba(0, 4, 255);
    z-index: 1001;
}
@media only screen and (max-width: 750px) {
    .grid-container {
        grid-template-columns: 1fr;
    }

    .grid-item.sign-in-time,
    .grid-item.sign-out-time {
        grid-column: span 1;
    }

    .grid-item.boss-comments {
        order: 9999;
    }

    .header-text h1 {
        font-size: 20px;
    }
    
    .dashboard {
        margin-left: 0px;
    }
}