:root{
    --background-color: #f9fafc;
    --secondary-color: #4d69ff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --Red-Text:#ff3333;
    --Red-Background: #ff6666;
    --Green-Text: green;
    --border-color: #ccc;
    --black-background: #000000;
    --contact-icon: #555;
    --contact-icon-hover: #007bff;
    --listBox-Shadow: rgba(77, 105, 255, 0.5);/* ++ Submit-Button-hover */
    --Submit-Button-Background: rgb(55, 55, 255);
    --Allert-Color: #ffd633;
    --Allert-Hover:#ffb700;
    --Holidays-Colors: #66ff99;
    --Holidays-Hover: #32cc66;
    --Footer-Bacground: #1900fa;
    --Nav-Active-Hover: #324b80;
    --DarkMode-Icon-Hover: #ffcc00;
  }
body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
}

.profile {
    margin-left: 200px;
    padding: 20px;
}

.profile-header {
    background-color: var(--secondary-color);
    color: var(--background-color);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--shadow-color);
    margin-bottom: 20px;
}

.profile-header h1 {
    margin: 0;
}

.profile-header:hover {
    box-shadow: 0 4px 10px var(--shadow-color);
    transition: 0.3s;
}

.profile-details {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
}

.profile-item {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: flex;
    flex-direction: column;
}

.profile-picture img {
    width: 150px;
    border-radius: 50%;
}

.profile-info h2 {
    margin-top: 0;
}

.profile-info p {
    margin: 5px 0;
}

.profile-item.profile-picture {
    background-size: cover;
    background-position: center;
}
/* Smaller Change Button CSS */
.change {
    background: var(--secondary-color);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 8px 10px;
    color: var(--background-color);
    cursor: pointer;
    display: inline-block;
    font-size: 0.8em;
    width: 120px;
    margin-left: 20px;
}

.change:hover {
    background-color: var(--Submit-Button-Background);
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: 0.3s;
    transform: translateY(-2px);
}

.profile-item.profile-info input[type="text"],
.profile-item.profile-info input[type="email"],
.profile-item.profile-info input[type="tel"],
.profile-info select {
    border: none;
    background-color: transparent;
    font-size: inherit;
    padding: 0;
    margin: 0;
    width: 300px;
    outline: none;
    margin-bottom: 40px;
    color: var(--contact-icon);
}

.profile-item.profile-info input[type="text"]:focus,
.profile-item.profile-info input[type="email"]:focus,
.profile-item.profile-info input[type="tel"]:focus,
.profile-info select:focus {
    border-bottom: 2px solid var(--secondary-color);
}

.profile-item.profile-info h2 input {
    margin-top: 0;
    font-size: 18px;
    color: var(--secondary-color);
    font-weight: bold;
}

.profile-item.profile-info p {
    margin: 5px 0;
}

.profile-item.profile-info {
    padding: 20px;
    border-radius: 10px;
    background-color: var(--background-color);
    box-shadow: 0 2px 5px var(--shadow-color);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    display: inline-block;
    flex-direction: column;
}

.profile-item.profile-picture {
    align-items: center;
}

.profile-info label {
    display: block;
    margin-bottom: 20px;
    margin-right: 10px;
    font-weight: bold;
}
.submit-button {
    background: var(--Submit-Button-Background);
    border: 1px solid var(--secondary-color);
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--background-color);
    cursor: pointer;
    margin-top: 20px;
    max-width: 20%;
    font-size: 1.5em;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}

.submit-button:hover {
    background-color: var(--secondary-color);
    box-shadow: 0 4px 10px var(--shadow-color);
    transform: translateY(-5px);
    transition: 0.3s;
    color: var(--background-color);
}

.submit-button:focus {
    outline: none;
}

.profile-item.profile-picture label:hover i {
    color: var(--Footer-Bacground);
    transform: scale(1.1);
    transition: 0.3s;
}

@media only screen and (max-width: 751px) {
.profile-item.profile-info input[type="text"],
.profile-item.profile-info input[type="email"],
.profile-item.profile-info input[type="tel"],
.profile-info select {
    border: none;
    background-color: transparent;
    font-size: inherit;
    padding: 0;
    margin: 0;
    width: 200px;
    outline: none;
    margin-bottom: 40px;
    color: var(--contact-icon);
}
}

@media only screen and (max-width: 750px) {
    .profile {
        margin-left: 0px;
    }
}