@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
@import url("https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css");

:root {
  --Background-color: #004baa;
  --Background-color-dark: #002cb6;
  --secondary-color: #f9fafc;
  --Accent-Text: #ff0128;
  --Button-Color-Light:#fed017;
  --Button-Color-Dark:#ffb500;
  --max-width: 1200px;
  scroll-behavior: smooth;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  font-family: "Poppins", sans-serif;
  background: var(--Background-color);
}
/* Nav Section */ 

/* Home Section */
.section__container {
  min-height: 100vh;
  max-width: var(--max-width);
  margin: auto;
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 4rem;
  background: var(--Background-color);
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.subtitle {
  letter-spacing: 2px;
  color: var(--secondary-color);
  font-weight: 600;
  margin-bottom: 0.5rem;
}

.title {
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 3rem;
  color: var(--secondary-color);
  margin-bottom: 1rem;
}

.title span {
  font-weight: 600;
  color: var(--secondary-color);
}

#read-more {
  color:#ff0128;
}

#read-more:hover {
  text-decoration: underline;
  transition: 0.3s;
}

.description {
  line-height: 1.5rem;
  color: var(--secondary-color);
  margin-bottom: 2rem;
}

.action__btns {
  display: flex;
  gap: 1rem;
}

.action__btns button {
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 2px;
  padding: 1rem 2rem;
  outline: none;
  border: 2px solid var(--Background-color);
  border-radius: 10px;
  transition: 0.3s;
  cursor: pointer;
}

.Signup {
  background-color: var(--Button-Color-Light);
  color: var(--Accent-Text);
}

.Signup:hover {
  background-color: var(--Button-Color-Dark);
  color: var(--Accent-Text);
  transition: 0.3s;
}

.Signin {
  color: var(--Background-color);
}

.Signin:hover {
  background-color: var(--Background-color-dark);
  color: var(--secondary-color);
  transition: 0.3s;
}

.active {
  border-top-color: var(--secondary-color);
  border-bottom-color: var(--secondary-color);
  color: var(--secondary-color);
}
.image {
  display: grid;
  place-items: center;
}

.image img {
  width: min(25rem, 90%);
  border-radius: 10%;
}



 /* Features Section */



.section__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .feature {
    margin-bottom: 20px;
    background-color: var(--Background-color-dark);
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 80px;
    display: flex;
    flex-direction: column;
    width: 300px;
    align-items: center;
    text-align: center;
    transition: transform 0.3s ease;
    width: 80%;
    max-width: 400px;
    min-height: 380px;
    max-height: 450px;
    height: 380px;
    margin: 0 10px 20px 10px;
  }

  .features__grid {
    display: flex;
    flex-direction: wrap;
    align-items: center;
    text-align: center;
    gap: 20px;
  }
  .feature:hover {
    transform: translateY(-5px);
    transition: 0.3s;
  }
  
  .feature i {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--Background-color);
  }
  
  .feature h2 {
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--secondary-color);
    margin-bottom: 10px;
  }
  
  .feature p {
    font-size: 1rem;
    color: var(--secondary-color);
    margin-left: 0;
  }
  .title_features {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--secondary-color);
    margin-top: 8rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .title_features span {
    font-weight: 600;
    color: var(--secondary-color);
  }
  .ReadMore {
    display: inline-block;
    background-color: #ff0128;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s;
    margin-top: 30px;
    border: 2px solid var(--Background-color);
}

.ReadMore:hover {
    background-color: #0056b3;
    transform: scale(1.1) ;
    transition: 0.3s;
    cursor: pointer;
}



  /* About Section */



  .section_about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
  }
  
  .content_about {
    flex: 1;
    order: 2;
    text-align: right;
  }
  
  .section_about .image {
    flex: 1;
    display: flex;
    justify-content: flex-start;
    margin-top: 13rem;
    margin-bottom: 6rem;
  }
  
  .section_about .image img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 4rem;
  }
  .content_about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 8rem;
    margin-bottom: 6rem;
  }
  
  .subtitle_about {
    letter-spacing: 2px;
    color: var(--secondary-color);
    font-weight: 600;
    margin-bottom: 0.5rem;
  }
  
  .title_about {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--secondary-color);
    margin-bottom: 1rem;
    text-align: left;
  }
  
  .title_about span {
    font-weight: 600;
    color:var(--secondary-color);
  }
  
  .description_about {
    line-height: 0.8rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
    text-align: left;
  }
  
  .action__btns_about {
    display: flex;
    gap: 1rem;
  }
  
  .watch {
    background-color: var(--Button-Color-Light);
    color: var(--Accent-Text);
   
  }
  
  .watch:hover {
    background-color: var(--Button-Color-Dark);
    transition: 0.3s;
  }
  
  .action__btns .ri-play-circle-line {
    margin-right: 5px;
    font-size: 20px;
  }



   /* Contact Section */



  .section__contact {
    padding: 4rem 0;
  }
  
  .content_contact {
    max-width: var(--max-width);
    margin: auto;
    text-align: center;
  }
  
  .subtitle_contact {
    letter-spacing: 2px;
    color: var(--secondary-color);
    font-weight: 600;
    margin-bottom: 1rem;
  }
  
  .title_contact {
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
    margin-top: 2rem;
  }
  
  .description_contact {
    line-height: 1.5rem;
    color: var(--secondary-color);
    margin-bottom: 2rem;
  }
  
  .contact-form {
    max-width: 600px;
    margin: auto;
  }

  .form-group {
    margin-bottom: 1.5rem;
    border-bottom: 1px solid #000000;
  }

  .form-group input:focus,
  .form-group textarea:focus,
  .form-group input:not(:focus),
  .form-group textarea:not(:focus) {
    border: none;
  }

  label {
    display: block;
    font-weight: 600;
    margin-bottom: 0.5rem;
    color: white;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    width: 100%;
    padding: 0.75rem;
    font-size: 1rem;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  textarea {
    resize: vertical;
  }
  
  .send {
    background-color: var(--Button-Color-Light);
    color: var(--secondary-color) ;
    margin: auto;
    display: block;
    margin-bottom: 2rem;
  }
  
  .send:hover {
    background-color: var(--Background-color);
    color:var(--secondary-color);
    transition: 0.3s;
  }

.title_contact span {
    font-weight: 600;
    color:var(--secondary-color);
}

.form-group input,
.form-group textarea {
    background-color: transparent;
    border-color: #000000;
}


.form-group input::placeholder,
.form-group textarea::placeholder {
    color: #ffffff;
}

.form-container {
  border: none;
  border-radius: 20px;
  padding: 10px;
  margin-bottom: 50px;
  color: #002cb6;
  background-color: rgba(0, 0, 126, 0.53);
  margin-top: 5rem;
}

p {
  font-size: 0.9rem;
}

.ri-smartphone-line:before,.ri-calendar-event-line:before,.ri-lock-line:before{
  color: var(--secondary-color);
}

.ri-menu-line:before{
  color: var(--secondary-color);
}

.form-row {
  display: flex;
  gap: 10px;
}

.form-group {
  flex: 1;
  margin-bottom: 1.5rem;
}

.form-group label {
  display: block;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: white;
}

.form-group input,
.form-group textarea {
  width: 100%;
  padding: 0.75rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
}



/* Media Query */


@media (min-width: 1025px) and (max-width: 1280px) {
  .feature {
    height: 450px;
  }
}

@media (width < 1024px) {
  .section__container {
    padding: 10rem 1rem 5rem 1rem;
    text-align: center;
    grid-template-columns: repeat(1, 1fr);
  }

  .image {
    grid-area: 1/1/2/2;
  }

  .action__btns {
    margin: auto;
  }

  .section_about {
    flex-direction: column;
    align-items: center;
  }

  .content_about {
    text-align: center;
    margin-bottom: 2rem;
  }

  .image {
    margin-top: 2rem;
  }

  .section_about .image {
    margin-top: 2rem;
    grid-area: 1/1/2/2;
    display: flex;
    justify-content: center;
    margin-bottom: -9rem;
  }

  .title_about {
    text-align: center;
  }

  .description_about {
    text-align: center;
    margin-bottom: 2rem;
  }
  .section__contact {
    margin-left: 2rem;
    margin-right: 2rem;
  }
}

@media (max-width: 1024px) {
    .features__grid {
      flex-direction: column;
      align-items: center;
      gap: 2rem;
    }
  
    .feature {
      width: 90%;
      max-width: none;
      padding: 40px;
    }

    .feature h2 {
      margin-top: 10px;
    }

    .feature i {
      margin-top: 30px;
    }

    .feature p {
      margin-top: 20px;
    }
  }

  @media (min-width: 751px) and (max-width: 1024px) {
    .features__grid {
      gap: 1rem;
    }
    .feature {
      width: 45%;
    }
  }