#timecontainer {
    text-align: center;
    margin-top: 20px;
}

.timer-button {
    width: 50px;
    height: 50px;
    border: 2px solid #47414100;
    border-radius: 50%;
    background-color: #47414100;
    color: #4d69ff;
    cursor: pointer;
    font-size: 24px;
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition: background-color 0.3s ease;
}

.timer-button:hover {
    background-color: #3a3939;
    transition: 0.3s;
}

.timer-button:active {
    transform: scale(0.95);
}

#timedisplay {
    font-size: 48px;
    color: #fe0000;
    margin-bottom: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-top: -40px;
}