body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background-color: var(--Body-Background);
}

.dashboard {
    margin-left: 200px;
    padding: 20px;
}

.header {
    background-color: var(--Items);
    color: var(--Heading);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 5px var(--shadow-color);
    display: flex;
    align-items: center;
}

#current-date {
    margin: 0;
    font-size: 18px;
}

.date-section {
    margin-left: auto;
}

.header:hover {
    box-shadow: 0 4px 10px var(--shadow-color);
    background-color: var(--Hover);
    transition: 0.3s;
}

.header h1 {
    margin: 0;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 20px;
    padding: 20px;
}

.grid-item {
    padding: 11px;
    border-radius: 10px;
    background-color: var(--Items);
    box-shadow: 0 2px 5px var(--shadow-color);
    display: flex;
    flex-direction: column;
    grid-column: span 3;
    padding: 20px;
    margin: 20px;
}

.grid-item h2 {
    color: var(--Heading);
    margin-top: 0;
    margin-bottom: 10px;
}

.grid-item label {
    display: inline-flex;
    align-items: center;
}

.checkbox-label {
    margin-bottom: 20px;
}

.grid-item input[type="checkbox"] {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.grid-item p {
    margin: 0;
}

.grid-item input[type="radio"] {
    margin-right: 10px;
    display: inline-block;
    vertical-align: middle;
}

.radio-label {
    margin-bottom: 20px;
}

.submit-button {
    background: var(--Secondary);
    border: 1px solid var(--Secondary);
    border-radius: 5px;
    padding: 10px 20px;
    color: var(--ButtonTxt);
    cursor: pointer;
    margin-top: 20px;
    max-width: 20%;
    font-size: 1.5em;
    max-width: 200px;
    display: block;
    margin: 0 auto;
}
.submit-button i {
    color: var(--ButtonTxt)
}

.submit-button:hover {
    background-color: var(--Hover);
    border: 1px solid var(--Hover);
    box-shadow: 0 4px 10px var(--shadow-color);
    transform: translateY(-5px);
    transition: 0.3s;
}

.submit-button:focus {
    outline: none;
}

.text-box-container {
    margin-top: 20px;
}
input[type="number"]::placeholder{
    color: var(--Sub-Text);

}

.text-box-container input[type="number"] {
    padding: 10px;
    margin-bottom: 10px;
    color: var(--Heading);
    border: 1px solid var(--Secondary);
    border-radius: 5px;
    font-size: 16px;
    outline: none;
    background-color: transparent;
    max-width: 80%;
}

.Icons{
    color: var(--Icons);
}
@media only screen and (max-width: 1520px) {
    .footer {
        margin-top: 220px;
    }
}

@media only screen and (max-width: 750px) {
    .dashboard {
        margin-left: 0px;
    }
}