    body {
        font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
        margin: 0;
        padding: 0;
        background-color: var(--Body-Background);
    }
    
    .dashboard {
        margin-left: 200px;
        padding: 10px 20px;
    }
    
    .header {
        background-color: var(--Items);
        color: var(--Heading);
        padding: 15px;
        border-radius: 10px;
        box-shadow: 0 2px 5px var(--shadow-color);
        display: flex;
        align-items: center;
    }
    #current-date {
        margin: 0;
        font-size: 18px;
    }
    
    .date-section {
        margin-left: auto;
        padding: 0px 10px;
    }
    
    .header:hover {
        background-color: var(--Hover);
        box-shadow: 0 4px 10px var(--shadow-color);
        color: var(--Heading);
        transition: 0.3s;
    }
    
    .header h1 {
        margin: 0;
    }
    
    .grid-container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 10px;
        padding: 20px;
    }
    
    .grid-item {
        padding: 11px;
        position: relative;
        border-radius: 10px;
        background-color: var(--Items);
        box-shadow: 0 2px 5px var(--shadow-color);
        transition: transform 0.3s ease, box-shadow 0.3s ease;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .grid-item:hover {
        background-color: var(--Hover);
        transform: translateY(-5px);
        transition: 0.3s;
        box-shadow: 0 4px 10px var(--shadow-color);
    }
    
    .grid-item h2 {
        margin-top: 0;
        color: var(--Heading);
    }
    
    .grid-item p {
        margin: 0;
        color: var(--Sub-Text)
    }
    
    .red-text {
        color:var(--Red-Text);
    }
    .grid-item.sign-in-time {
        padding: 5px;
    }
    
    .grid-item.alerts:hover {
        background-color: var(--Hover);
        transition: 0.3s;
    }
    
    .grid-item.holidays {
        background-color: var(--Green);
    }
    
    .grid-item.holidays:hover {
        background-color: var(--Hover);
        transition: 0.3s;
    }
    
    .grid-item.boss-comments {
        background-color: var(--Red);
        height: 215px;
    }
    
    .grid-item.boss-comments h2 {
        position: absolute;
        margin-top: 15px;
        text-align: center;
    }

    .boss-comments-scroll {
       overflow-y: auto; 
       text-align: center; 
       width: 100%;
       height: 100%;
       margin-top: 40px;
       scrollbar-width: thin;
    }
   
    .grid-item.boss-comments p {
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }

    .grid-item.tasks {
        height: 215px;
    }

    .grid-item.tasks p {
        margin: auto;
        text-align: center;
        margin-bottom: 50px;
    }

    .grid-item.tasks h2 {
        position: absolute;
        margin-top: 15px;
    }

    .contact-icon {
        position: absolute;
        bottom: 10px;
        right: 30px;
        color: #555;
        text-decoration: none;
        font-size: 24px;
    }

    .grid-item.boss-comments:hover {
        background-color: var(--Hover);
        transition: 0.3s;
    } 
    
    .grid-item.sign-in-time,
    .grid-item.sign-out-time {
        grid-column: span 3;
    }

    .contact-icon:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    .Icons{
        color: var(--Icons);
    }

    #preloader {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: var(--Body-Background); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; 
    }
    
    .spinner {
        text-align: center;
        display: flex;
        justify-content: center;  
        align-items: center;
        flex-direction: column;
    }
    
    .spinner .logo {
        width: 200px;
        margin-bottom: 20px;
    }
    
    .loading {
        color: white;
    }

    .loading:after {
        content: ' .';
        animation: dots 1s steps(5, end) infinite;}
      
      @keyframes dots {
        0%, 20% {
          color: rgba(0,0,0,0);
          text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);}
        40% {
          color: white;
          text-shadow:
            .25em 0 0 rgba(0,0,0,0),
            .5em 0 0 rgba(0,0,0,0);}
        60% {
          text-shadow:
            .25em 0 0 white,
            .5em 0 0 rgba(0,0,0,0);}
        80%, 100% {
          text-shadow:
            .25em 0 0 white,
            .5em 0 0 white;}
        }
            .guide {
                position: fixed;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background: rgba(0, 0, 0, 0.5); 
                display: none; 
                z-index: 1000;
                align-items: center;
                justify-content: center;
            }
            
            .guide-step {
                display: none;
                color: white;
                padding: 20px;
                margin-top: 550px;
                text-align: center;
                background: rgba(0, 0, 0, 0);
            }

            .guide-step.alt {
                color: white;
                padding: 20px;
                margin-top: 0;
                text-align: center;
                background: rgba(0, 0, 0, 0);
            }

            .guide-step.active {
                display: block;
            }
            
            .next-btn,
            .skip-btn,
            .back-btn {
                padding: 10px 40px;
                background-color: #007bff;
                color: white;
                border: none;
                cursor: pointer;
                margin-right: 50px;
                margin-left: 50px;
            }
            
            .next-btn:hover,
            .skip-btn:hover,
            .back-btn:hover {
                background-color: #0056b3;
            }
            
            .highlight {
                background-color: rgba(13, 0, 255, 0); 
                border: 2px solid rgb(0, 4, 255);
                box-shadow: 0 0 10px 5px rgba(0, 4, 255);
                z-index: 1001;
            }
            .menu-icon {
                display: block;
                position: absolute;
                top: 40px !important;
                right: 55px;
                cursor: pointer;
              }
    
    @media only screen and (max-width: 750px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
    
        .grid-item.sign-in-time,
        .grid-item.sign-out-time {
            grid-column: span 1;
        }
    
        .grid-item.boss-comments {
            order: 8;
        }

        .grid-item.tasks {
            order: 7;
        }
    
        .header-text h1 {
            font-size: 20px;
        }
    
        .dashboard {
            margin-left: 0px;
        }

        .date-section {
            margin-right: 60px;
        }

        .grid-item.boss-comments {
            height: 200px;
        }

        .grid-item.grid-item.tasks {
            height: 200px;
        }
    }
    
    @media only screen and (max-width: 1280px) {
        .grid-container {
            grid-template-columns: 1fr;
        }
        .grid-item.sign-in-time,
        .grid-item.sign-out-time {
            grid-column: span 1;
        }
        .grid-item.boss-comments {
            order: 8;
        }

        .grid-item.tasks {
            order: 7;
        }
    }