@import url('https://fonts.cdnfonts.com/css/poppins');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
:root {
  --Background-color: #004baa;
  --Background-color-dark: #002cb6;
  --secondary-color: #f9fafc;
  --Accent-Text: #ff0128;
  --Button-Color-Light:#fed017;
  --Button-Color-Dark:#ffb500;
  --max-width: 1200px;
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: url('../../Imgs/Employee.png') no-repeat;
  background-size: 100% 100%;
  background-position: left;
  background-attachment: fixed;
  font-family: 'Poppins', sans-serif;
  color: var(--secondary-color);
}
.wrapper{
  /* ده من أجل ان يتبع الموضع الخاص بالصوره */
  position: relative;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(20px);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}
