.timerbutton{
    width: 80px;
    height: 30px;
    border: 2px solid;
    border-radius: 12px;
    background-color: #474141;
    color: #f7d519;
    cursor: pointer;
    font-family: consolas, monospace;
}

#timedisplay{
    font-size: 75px;
    color: #f7d519;
    font-family: consolas, monospace;
}

#timecontainer{
    text-align: center;
    border: 3px solid;
    border-radius: 25px;
    background-color: #0213fa;
}