:root{
    /* Dark Mode */
    /* Shared */
    --Heading: #fff;
    --Sub-Text: #999999;
    --Secondary: #3572cc;
    /* Nav bar */ 
    --Nav-Background: #262626;
    --Footer-Background: #000;
    --Icon-Hover: #333333;
    --Switch-Icon-Hover:#fff; 
    /* Timer */
    --Buttons-Colors: #A3A3A3;
    --Timer-Hover: #363636;
    --Timer-Border: #47414100;
    --Time-Color: #fff;
    /* Emp-Dashboard */
    --Icons: #cccccc;
    --Body-Background: #1e1e1e;
    --Items: #262626;
    --Hover: #002cb2;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --Red: #800000;
    --Orange: #a63e00;
    --Green: #005c33;
  }