:root{
    /* Light Mode */
    /* Shared */
    --Heading: #000;
    --Sub-Text: #666666;
    /* Navbar */
    --Secondary: #3572cc;
    --Nav-Background: #f5f5f5;
    --Footer-Background: #fff;
    --Icon-Hover: #e0e0e0;
    --Switch-Icon-Hover:#000;
    /* Timer */
    --Buttons-Colors: #A3A3A3;
    --Timer-Hover: #363636;
    --Timer-Border: #47414100;
    --Time-Color: #000;
    /* Emp-Dashboard */
    --Icons: #555555;
    --Body-Background: #f0f0f0;
    --Items: #e5e5e5;
    --Hover: #b2d1ff;
    --shadow-color: rgba(0, 0, 0, 0.2);
    --Red: #ff7f7f;
    --Orange: #ffae7f;
    --Green: #7fff8f;
    --max-width: 1200px;
    scroll-behavior: smooth;
    }